<h1>Aqui se muestra la info del producto seleccionado</h1>


<% if policy(@product).edit? %>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this produnct", @product, method: :delete if policy(@product).destroy? %>
